body{
    /* #c4302b color HEX youtube*/
    background-color: #e1e1e1;
}
#video-list .panel-body{
    padding-left: 0px;
}
.video-image-mask{
    width:200px;
    height: 150px;
    overflow: hidden;
}
.video-image-mask .video-image{
    width: 100%;
    border-radius: 5px;
}

.video-title{
    font-weight: bold;
    font-size: 20px;

}
.video-title a{
    padding-left: 100px;
    color: #444;
    text-decoration: none;
}
.video-title p{
    font-size: 15px;
    padding-left: 100px;
    color: #444;
}